
body{
      background-image: url("pic/back.jpg");  
      margin: 0;
}

.container{
    
    margin: 48px auto 20px;
    background-color:#FFFFFF;
    border: 8px solid #CCCCCC;
    background-color: #66b3ff;
  }
 #head{
    
  } 
  #head a{
    text-decoration: none;

 }
 #head a h2{
   background-color: #FFFFFF;
 	 text-align: center;
   padding: 30px;
 }


/*.menu_bar{
	width: 650px;
	overflow: hidden;
}
 #zero{
 	
 	width: 80px;
 	float: left;

 }


 #zero button{
 	width: 120px;
 	height: 40px;
 	margin-left: 50px;
 	
 }
 #zero button p{
 	font-family: verdana;
 	font-size: 12px;
 	text-align: center;
 	
 }

 #one{
    
 	width: 120px;
 	
 	padding-left: 1100px;
 	
 }
*/

 #one button{
 	
   float: right;
 	
 }

 #one button:hover{
      color: #ffffff;
  background-color: #004080;
 } 
#two{
  float: right;
}
 #two button p{
 	font-family: verdana;
 	font-size: 12px;
 	text-align: center;
  
 }




 #two button{
 	width: 120px;
 	height: 40px;
 	float: center;
 }
#two button:hover{
  color: #ffffff;
  background-color: #004080;
 }

 .diff a{
   color: #000066;
 }
 .detail{
     width: 900px;
    margin: 45px auto 10px;
    border: 1px solid #CCCCCC;
    padding: 20px;
    background-color: #FFFFFF;
 }
.main{
	  width: 350px;
    margin: 45px auto 10px;
    border: 1px solid #CCCCCC;
    padding: 20px;
    background-color: #FFFFFF;

}
.main1{
    width: 350px;
    margin: 45px auto 10px;
    border: 1px solid #CCCCCC;
    padding: 20px;
    background-color: #FFFFFF;
}
.main1 input{
  width: 100px;
  
  
}
.main1 p{
  width: 100px;

}


#new{
  float: right;

}
#new input:hover{
  color: #ffffff;
  background-color: #004080;
 }
 #new1 input:hover{
  color: #ffffff;
  background-color: #004080;
 }
#footer{

	text-align: center;
	background-color: #d9d9d9;
}
#footer p a{
	color: #4d4d4d;
}


----------------------------------------------------