body{
      background-image: url("pic/back.jpg");  
      margin: 0;
}

.container{
    width: 500px;
    margin: 48px auto 20px;
    background-color:#FFFFFF;
    border: 8px solid #CCCCCC;
    background-color: #66b3ff;
  }
  #hea{
    float: right;
    width: 200px;
   
    
  }
  #hea a{
  
    text-decoration: none;
    
  }
 
 #head{
    
  } 

 #head h2{
   background-color: #FFFFFF;
 	 text-align: center;
   
 }



 #one button{
 	 width: 350px;
   margin: 2px;
 	
 }

 #one button:hover{
      color: #ffffff;
  background-color: #004080;
 } 

 #two button{
   width: 350px;
   margin: 2px;
  
 }

 #two button:hover{
      color: #ffffff;
  background-color: #004080;
 } 
 #three{
    border: 1px solid blue;
    padding: 5px;
    margin: 25px;
 }
 #three button{
   margin: 5px;
   border-radius: 10px;
 }

 #three button:hover{
      color: #ffffff;
  background-color: #004080;
 }

 #four{
    
    border: 1px solid blue;
    margin: 3px;
 }
 #four a{
   
   margin: 3px;
   border-radius: 5px;
   text-decoration: none;
 }

 #four a:hover{
      color: #ffffff;
  background-color: #004080;
 }
 
.main{
	  width: 365px;
    margin: 45px auto 10px;
    border: 1px solid #CCCCCC;
    padding: 20px;
    background-color: #FFFFFF;

}





#footer{

	text-align: center;
	background-color: #d9d9d9;
}
#footer p a{
	color: #4d4d4d;
}
